body {
  /* border: 2px green; */
  margin: 0;
  background-color: white;
}

.container-nav {
  /* border: 2px solid yellow; */
  background-color: rgba(48, 48, 48, 0.897);
  width: 100vw;
  height: 2em;
  display: flex;
  justify-content: center;
  position: fixed;
}
.link {
  font-size: 16px;
  /* border: 2px solid purple; */
  margin: 0 2em;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.959);
}

.link > a {
  font-size: 14px;
  font-weight: lighter;
  font-family: "Open Sans Condensed", sans-serif;
  color: rgba(255, 255, 255, 0.959);
  text-decoration: none;
}
.link:hover {
  cursor: pointer;
  opacity: 0.3;
}
.backGround-phone-pro {
    background: url("luiz-felipe-gNzWVfxZ9J0-unsplash.jpg");
background-size: 100% 150%;
background-repeat: no-repeat;
 height: 550px;
    width: 100vw;
}
.features-phone {
    padding-top: 40px;
    display:flex;
    flex-direction: column;
    align-items: center;
    line-height: 0;
    color: white;
    font-family: 'Roboto Slab', serif;
}
.black {
    color: black;
}

.features-phone > p {
    font-family: 'Open Sans Condensed', sans-serif;
}
.learn-order {
    display:flex;
    align-items: center;
    margin-top: 20px;
}
.learn-order > a {
    padding: 12px;
    color: rgb(0, 183, 255);
    text-decoration: none;
    /* border: 2px solid green; */
}
.learn-order > a:hover {
    text-decoration-line: underline;
}
 .arrow {
    margin: 0px 0px 0px 10px;
    /* border: 2px solid red; */
}

.backGround-phone-reg {
    background: url("sara-kurfess-KegwEO8r29E-unsplash.jpg");
background-size: 100% 100%;
background-repeat: no-repeat;
 height: 550px;
    width: 100vw;
}
.background-watch {
    background: url("polly-alexandra-iu2VZLlzf1o-unsplash.jpg");
background-size: 100% 100%;
background-repeat: no-repeat;
 height: 550px;
    width: 100vw;
}
.features-watch {
    padding-top: 40px;
    display:flex;
    flex-direction: column;
    align-items: center;
    line-height: 0;
    color: black;
    font-family: 'Roboto Slab', serif;
}

.series-watch {
    margin-top: 0px;
    font-size: 16px;
    letter-spacing: 2px;
   font-weight: bold;
    color: red;
}
 .watch-indent{
    text-indent: 16px;
}
.size {
    margin: 2px;
    font-size: 40px;
}
.font-size {
    font-size: 2em;
    /* make sure to re-size the font in media quaries for phone screens */
}
.master-six {
    display:flex;
    flex-direction: column;
}
.row-one {
    display: flex;
    flex-direction: row;
    
}
.background-watchstudio {
    background: url(polly-alexandra-iu2VZLlzf1o-unsplash.jpg);
    height: 500px;
    width: 50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}







